body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-style: normal;
}
main {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr, 1fr;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
}
/* 
.name {

    position: absolute;
    left: 50px;
    right: 39.75%;
    top: 0.26%;
    bottom: 61.31%;
    font-weight: bold;



} */

.delivery {
    margin-top: -15px;
    color: #4E60FF;

}

nav {
    display: grid;
    grid-template-columns: 70% 15% 15%;
}

nav ul {

    display: grid;
    grid-template-columns: repeat(3, 0.2fr);

}

nav ul li {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #2B2B43;
    list-style: none;
    margin-left: -50px;
    width: 80px;
}

/* #search {
    /* margin: 50px;
    border-color: #EDEEF2;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.1px;
    color: #83859C;
    Width: 224px;
    height: 40px;
    background: #EDEEF2; */


.rest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

dl {
   
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;

}

.account,
.address,
.payment,
.security {

    width: 350px;
    height: 72px;
    background: #F3F4FF;
    border: 2px solid #4E60FF;
    box-sizing: border-box;
    border-radius: 16px;
    margin-top: 10px;
}

dt {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #2B2B43;
    margin-left: 50px;

}

dd {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #545563;

}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;

}

.form {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    background: #FFFFFF;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
}

h3 {
    font-weight: 700;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.1px;
color: #2B2B43;

}
.button {
    
    background: #FFFFFF;
border: 1px solid #EDEEF2;
box-sizing: border-box;
border-radius: 16px;
font-weight: 700;
font-size: 14px;
line-height: 20px;
align-items: center;
text-align: center;
letter-spacing: 0.3px;
color: #4E60FF;

}
input {
    border: 1px solid #C7C8D2;
box-sizing: border-box;
border-radius: 8px;

}