main {
    display: grid;
    grid-template-columns: 45% 55%;
    font-family: Nunito;
    font-style: normal;


}

/* @media only screen and (max-width: 768px) {

    .logIn {
        width: 100%;
    }

    .review {
        width: 0%
    }

} */



.logIn {


    width: 100%;

    background-color: #E5E5E5;
}

.review {
    width: 100%;



    background-color: #697BFF;
}

.name {

    position: absolute;
    left: 115px;
    right: 39.75%;
    top: 0.26%;
    bottom: 61.31%;
    font-weight: bold;



}

.delivery {
    margin-top: -15px;
    color: #4E60FF;

}

dt {
    position: absolute;
    width: 350px;
    height: 82px;
    left: 115px;
    top: 188px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;

    letter-spacing: 0.1px;



    color: #2B2B43;

}

dd {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 80px;
    top: 270px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;


    letter-spacing: 0.1px;

    color: #545563;

}

form {
    display: grid;
    position: relative;
    width: 350px;
    left: 110px;
    top: 290px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
}

.checkbox {
    display: inline;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #2B2B43;

}

.button {
    background: #4E60FF;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    border-radius: 8px;
    color: #FFFFFF;
    width: 350px;
    height: 44px;
    left: 165px;
    top: 602px;

}

a[href*="https://www.gmail.com"] {
    color: #4E60FF;
    margin-top: 10px;
    text-align: center;
}

.signUp {
    display: inline;
    margin-top: 80px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #545563;

}

a[href*="https://www.figma.com/"] {
    color: #4E60FF;
}



.image1 {
    height: 336px;
    width: 213px;
    padding: 20px;
    z-index: 1;
}

.image2 {
    height: 279px;
    width: 294px;
    margin: 0 0 50px 50px;


}

.image3 {
    height: 132px;
    width: 618px;
    padding: 20px;
    margin-top: -50px;
    z-index: -1;

}

h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.meals {
    font-weight: 400;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.1px;
color: #FFFFFF;
margin-left: 200px;

}

.pagination {
    margin-left: 370px;
    
}

