body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
font-style: normal;
}

main {
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 0.3fr 0.1fr 0.7fr 0.5fr;


}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
}

.name {

    position: absolute;
    left: 50px;
    right: 39.75%;
    top: 0.26%;
    bottom: 61.31%;
    font-weight: bold;



}

.delivery {
    margin-top: -15px;
    color: #4E60FF;

}



nav {
    display: grid;
    grid-template-columns: 70% 15% 15%;




}

nav ul {

    display: grid;
    grid-template-columns: repeat(3, 0.2fr);

    /* width: 240px; */

}

nav ul li {


    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1px;
    color: #2B2B43;
    list-style: none;
    margin-left: -50px;
    width: 80px;


}

/* #search {
    /* margin: 50px;
    border-color: #EDEEF2;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.1px;
    color: #83859C;
    Width: 224px;
    height: 40px;
    background: #EDEEF2; */



.photos {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1110px;
    /* height: 188px; */

}

.pancake {
    background: #F3F4FF;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 540px;
    height: 188px;
}

.pic1 {
    position: relative;

}

.desert {
    position: absolute;
    top: 24px;
    left: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;

}

.sale {
    position: absolute;
    top: 60px;
    left: 30px;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.1px;
    color: #4E60FF;
}

.deserty {
    position: absolute;
    top: 152px;
    left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #83859C;
}



.burger {
    background: #FFF3ED;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 540px;
    height: 188px;
    

}

.pic2 {
    position: relative;

}

.burgers {

    position: absolute;
    top: 24px;
    left: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #2B2B43;

}

.off {
    position: absolute;
    top: 60px;
    left: 30px;
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.1px;
    color: #FD6D22;
}

.foodies {
    position: absolute;
    top: 152px;
    left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #83859C;
}

.fa-ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 1110px;
    
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
    width: 160px;
    height: 80px;
    background: #F8F9FF;
border: 1px solid #697BFF;
box-sizing: border-box;
border-radius: 16px;
font-weight: 700;
font-size: 13px;
line-height: 18px;
text-align: center;
letter-spacing: 0.1px;
color: #545563;
}

.icon2:hover, .icon4:hover {
    border: 2px solid #4E60FF;
}
h2 {
    margin-left: 40px;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.1px;
color: #2B2B43;

}


.restaurants {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    width: 1110px;
    


}

.half {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 40px;
    

}
.half img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    
}
.item1, .item2, .item3 {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
    width: 351px;
}


.dot {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 70px;
    top: 190px;
    border-radius: 5px;
    background-color: #4E60FF;

}
.item1 img, .item2 img, .item3 img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
}

